<section class="footer">

    <div class="share">
        <a href="https://www.facebook.com/IntelliSkip/" target="_blank" class="fab fa-facebook-f"></a>
        <a href="https://twitter.com/iabu94" target="_blank" class="fab fa-twitter"></a>
        <a href="https://www.instagram.com/iabu94/" target="_blank" class="fab fa-instagram"></a>
        <a href="https://www.linkedin.com/in/iabu94/" target="_blank" class="fab fa-linkedin"></a>
        <a href="#" class="fab fa-pinterest"></a>
    </div>

    <div class="links">
        <a routerLink="/">home</a>
        <!-- <a href="#">about</a>
        <a href="#">menu</a>
        <a href="#">products</a>
        <a href="#">review</a> -->
        <a routerLink="/contact-us">contact us</a>
        <!-- <a href="#">blogs</a> -->
    </div>

    <div class="credit">created by <span>IntelliSkip Technologies.</span></div>

</section>