<div class="login">
    <h1 class="heading">LOGIN</h1>
    <div class="row">
        <form action="">
            <div class="inputBox ml-h-400">
                <span class="fas fa-user"></span>
                <input type="text" placeholder="username">
            </div>
            <div class="inputBox ml-h-400">
                <span class="fas fa-user"></span>
                <input type="text" placeholder="password">
            </div>
            <input type="submit" value="contact now" class="btn ml-h-160">
        </form>
    </div>
</div>