.login {
  margin-top: 10rem;
}

.row .inputBox {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: var(--bg);
  border: var(--border);
  max-width: 400px;
}

.row .inputBox span {
  color: #fff;
  font-size: 2rem;
  padding-left: 2rem;
}

.row .inputBox input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  color: #fff;
  text-transform: none;
  background: none;
}

.error-message {
  text-align: center;
  color: red;
  font-size: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
