<div class="login">
    <h1 class="heading">LOGIN</h1>
    <div class="row">
        <form [formGroup]="loginForm" (ngSubmit)="login()" autocomplete="off">
            <div class="inputBox ml-h-400">
                <span class="fas fa-user"></span>
                <input formControlName="username" type="text" placeholder="username">
            </div>
            <div class="inputBox ml-h-400">
                <span class="fas fa-user"></span>
                <input formControlName="password" type="password" placeholder="password">
            </div>
            <div class="error-message" *ngIf="!loginSuccess">Username or password incorrect.</div>
            <button type="submit" class="btn ml-h-160">Login</button>
        </form>
    </div>
</div>