<section class="products" id="products">

    <h1 class="heading"> our <span>products</span> </h1>

    <div class="box-container">
        <div class="box" *ngFor="let product of products$ | async">
            <div class="icons">
                <a href="#" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <div class="image">
                <img [src]="product.image" alt="">
            </div>
            <div class="content">
                <h3>{{product.name}}</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="price"> {{product.price | currency}}
                    <span *ngIf="!!product.oldPrice">{{ product.oldPrice | currency}}</span>
                </div>
            </div>
        </div>

    </div>

</section>

<section class="about" id="about">

    <div class="row">

        <div class="content">
            <h3>Our Special Mocha Frappuccino?</h3>
            <p>Ice, whole milk, coffee Frappuccino syrup, coffee, mocha sauce, whipped cream, and vanilla syrup makes up
                the Mocha Frappuccino</p>
            <a href="#" class="btn">learn more</a>
        </div>

    </div>

</section>